/* add home page styles here */
main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    background: ghostwhite;
}

a {
    color: blue;
}

a:active {
    color: aquamarine;

}

a:visited {
    color: cornflowerblue;
}


button {
    padding: .5rem 2rem;
    /* margin: 1.5rem 0; */
    background: #eee;
    box-shadow: .2rem .2rem .1rem aliceblue;
    border: .5px solid #ccc;
    border-radius: 2rem;
    font-size: .9rem;
}

button:hover {
    box-shadow: .5rem .5rem .5rem aliceblue;
    transform: translate(.05rem, .05rem);
}

button:active {
    background: aquamarine;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border: 0;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: .5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding: 1rem;
    width: 300px;
    margin: .5rem;
    box-shadow: .4rem .4rem .3rem aliceblue;
    break-inside: avoid;}

img {
    display: block;
    max-width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: .2rem;
    overflow: hidden;
    border-top: .5px solid #bbb;
    border-left: .5px solid #bbb;
    border-right: .5px solid #bbb;
}

.card p {
    padding: 1rem;
    background-color:whitesmoke;
    border-left: .5px solid #bbb;
    border-right: .5px solid #bbb;
    border-bottom: .5px solid #bbb;
    align-self: flex-end;
    font-size: .8rem;
    line-height: 1.1rem;
    text-indent: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
}

strong {
    font-weight: bolder;
    color: midnightblue;
}

#result {
    background: #eee;
    border-radius: 2rem;
    border: .5px solid #ccc;
    padding: .4rem 2rem;
    margin: .4rem 0;
}

.hidden {
    display: none;
}

li {
    display: inline;
}

footer {
    word-spacing: .2rem;
}