@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body {
    height: 100%;
    width: 100%;
    min-width: 500px;
    font-family: 'DM Mono', monospace;
    font-size: 1.5vw;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    padding: 0rem 3rem;
    background-color: #eee;
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;
    font-size: 2rem;
}

main {
    width: 800px;
    height: auto;
    margin: auto;
    padding-top: 90px;
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

section {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

footer {
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-top: .5px solid #ccc;
    border-bottom: .5px solid #ccc;
    font-size: 1.5rem;
}

.score {
    display: grid;
    grid-template-columns: minmax(100px, 175px) minmax(100px, 175px) minmax(100px, 175px) minmax(100px, 175px);
    grid-template-rows: 70px;
    justify-content: center;
    align-items: center;

}

.reset-div {
    width: 50px;
    justify-self: center;
}

footer span {
    display: inline;
    margin: 0 5px;
}

a {
    color: blue;
}

a:active {
    color: aquamarine;
}

a:visited {
    color: cornflowerblue;
}

.score {
    background: inherit;
}

button {
    height: 45px;
    width: 125px;
    margin: 0 2 rem;
    font-family: inherit;
    font-size: 1.2rem;
    background: #eee;
    background-color: #eee;
    padding: .5rem 2rem;
    box-shadow: 8px 8px lightblue;
    border: .5px solid #ccc;
    text-transform: uppercase;
}

button:hover {
    height: 45px;
    width: 125px;
    font-size: 1.4rem;
    background-color: aquamarine;
    box-shadow: 8px 8px darkblue;
    transform: translate(.05rem, .05rem);
}
button#user-throw {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 250px;
    height: 200px;
    background: #eee;
    padding: 1rem 2rem;
    box-shadow: 20px 20px aliceblue;
    border: .5px solid #ccc;
    font-size: 3.5rem;
}

button#user-throw:hover {
    background-color: aquamarine;
    box-shadow: 20px 20px darkblue;
    transform: translate(.1rem, .1rem);
    font-size: 4rem;
}

button:active, button#user-throw:active {
    background:lightsalmon;
}

img {
    margin: 2rem;
    max-width: 300px;
    max-height: 300px;
}

input {
    display: none;
}

input[type=radio]:checked + img {
    box-shadow: 20px 20px aquamarine;
}
input[type=radio]:hover + img {
    box-shadow: 20px 20px khaki;
}

.leading-total {
    color: lightsalmon;
}